<!DOCTYPE html>
<html>
<head>
  <title>admin</title>
  <script src="//cdn.bootcss.com/jquery/1.8.1/jquery.min.js"></script>
</head>
<body>
<div class="wrap">
	<div class="">
		<div>username: <input type="text" class="username" value="admin"/></div>
		<div>password: <input type="password" class="passwd" value=""/></div>
		<div class="login-btn">Login</div>
	</div>
	<script type="text/javascript">
		$('.login-btn').click(function(){
			$.post('/user/signin', {
				username: $('.username').val(),
				passwd: $('.passwd').val()
			}, function(ret){
				if (ret.status === 200) {
					location.href = ret.data.url;
				} else {
					alert(ret.msg);
				}
			}, 'json');
		});
	</script>
</div>
</body>
</html>